
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center m-b-md">
    <h3>FORGOT PASSWORD</h3>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-inline", id = "loginForm" }))
        {
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="form-group">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMsg))
                {
                        <div class="form-group">
                            <div class="alert alert-success" id="cus-card-success-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Success! </strong>
                                @ViewBag.SuccessMsg
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                {
                        <div class="form-group">
                            <div class="alert alert-danger" id="cus-card-error-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Error! </strong>
                                @ViewBag.ErrorMsg
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label" for="username">Email</label>
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control col-md-12" style="width:400px;" title="Please enter you email" required="Email is required" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send password reset link" class="btn btn-success" />
                </div>
            </div>
        }

    </div>
</div>
